.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}


.signup-inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.signup-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
}

.submit-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.success-banner {
    position: fixed;
    bottom: 20px;
    right: -300px; 
    z-index: 1000; 
    width: auto;
    max-width: 300px; 
    transition: right 0.5s ease-in-out; 
}

.success-banner.show {
    right: 20px; 
}

