.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}


.signup-inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.signup-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
}

.submit-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


