.container {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 50%;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: none;
}

.input {
    display: flex;
    align-items: center;
    border: none;
}

.submit-button {
    margin-right: 250px;
}
.success-banner {
    position: fixed;
    bottom: 20px;
    right: -300px; 
    z-index: 1000; 
    width: auto;
    max-width: 300px; 
    transition: right 0.5s ease-in-out; 
}

.success-banner.show {
    right: 20px; 
}
