.search-title{
    margin-top: 100px;

}



.components{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.title-primary{
    display: inline;
    font-family: 'Archivo Black';
    font-size: 52px;
    color: #5e43f3
}
.title-secondary{
    display: inline;
    font-family: 'Archivo Black';
    font-size: 52px;
    color: white
}
