.input-box-comp {
    margin: 1rem;
    width: 25ch;
  }
  
  .input-field-comp {
    width: 25ch;
  }
  
  .input-field-root {
    background-color: #ffffff;
  }
  
  .input-field-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #5e43f3;
  }
  
  .input-label {
    color: rgb(0, 0, 0);
  }
  