.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.signup-inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 100%;
}

.signup-input {
    width: 100%;
    border: none;
}

.signup-inputs .full-width {
    grid-column: span 2;
}

.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    grid-column: span 2; 
    width: 100%; 
}