.details-orders-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    padding: 20px;
}

.details-table,
.customer-view,
.orders-table {
    flex: 1;
    max-width: 30%;
    min-width: 250px;
    min-height: 400px; 
}

.customer-view {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-wrap: nowrap; 
    
}
.checkout-table:hover::-webkit-scrollbar {
    width: 5px;
  }
.checkout-table::-webkit-scrollbar {
    width: 0; 
  }

.orders-table,
.details-table,
.customer-view .checkout-table {
    min-height: 400px; 
    overflow-y: auto; 
    margin-bottom: 0; 
}

.checkout-table {
    display: block;
    max-height: 400px; 
    overflow-y: scroll; 
    padding: 0;
    min-width: 250px;
    box-sizing: border-box;
    flex-grow: 1; 
}


.orders-table {
    display: block;
    min-height: 400px; 
    overflow-y: auto;
    padding: 0;
}

.title-primary {
    display: inline;
    font-family: 'Archivo Black';
    font-size: 94px;
    color: #5e43f3;
}

.title-secondary {
    display: inline;
    font-family: 'Archivo Black';
    font-size: 94px;
    color: white;
}

.avatar-icon {
    position: absolute;
    bottom: 55%;
    left: 10%;
}
